body {
    font-size: 14px;
    color: black;
    background: #f5f5f5;
}
a {
	text-decoration: none;
    color: #08347b;
}
a:hover { color: #08347b; }
ul, ol {
	padding-left: 15px;
}

#header {
	background-color: #232a34;
	color: white;
}
#header .sign-link a, .dropdown-link {
	color: white;
    font-size: 16px;
}

.dropdown-link:hover {
    color: white;
}

.sub-menu {
    position: relative;
}

#header .logo {
	height: 80px;
}
.green-color {
	color: green;
	font-weight: 600;
}
.red-color {
	color: red;
	font-weight: 600;
}
.pad-tb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.single-page {
    background-color:#232a34;
	width: 500px;
	margin: 0 auto;
	margin-top: 0px;
    padding: 20px;
    border-radius: 5px;
	padding-bottom: 40px;
}
.single-page input[type="checkbox"] {
    width: auto;
    display: inline-block;
    margin-right: 5px;
}

.single-page-logo {
	background-color: #232a34;
	padding: 10px;
}

.single-page-logo img {
	height: 80px;
}

#footer {
	background-color: #232a34;
	color: white;
	font-size: 18px;
}
#footer .logo {
	height: 100px;
}

.label-color {
	color: #08347b;
	font-weight: bold;
}
.signup-bg {
    background-color: #131722;
	padding: 100px 0px;
	min-height:800px;
}
input.btn.btn-bg {
    background: #fff;
    color: #000;
}

.btn-bg {
    color: white;
    background-color: #08347b;
    border: #08347b;
    margin-bottom: 5px;
    min-width: 100px;
}
.btn-bg:hover {
    color: white;
    background-color: #08347b;
}
.sign-in-and-up {
    display: block;
    height: 60px;
    width: 100%;
    font-size: 16px;
    line-height: 60px;
    color: #fff;
}

.single-page label {
    text-transform: capitalize;
    color: #fff;
    display: block;
    text-align: left;
    font-size: 18px;
	margin-bottom: 8px;
}

.single-page input {
    display: block;
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 1px #fff solid;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 10px;
}





.gl-lnk {
    color: #000;
    background-color: #fff;
    font-size: 16px;
}
.btn-gl {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    border: 1px solid #232a34;
    border-radius: 3px;
	color:#fff;
}
.btn-gl .gl-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 12px;
}
.btn-gl .gl-icon svg {
    vertical-align: top;
}
.dropdown-ll ul li {
    padding: 0 10px 0 0;
    text-align: right;
}
.coin-top {
    color: #36348f;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.coin-top .table-striped > tbody > tr:nth-of-type(odd),
.coin-top table {
    color: #36348f;
}
.coin-top .nav {
    list-style: none;
}
.coin-top .nav li {
    margin-left: 25px;
}
.coin-top .table > :not(caption) > * > * {
    border: none;
    box-shadow: none;
}
.market {
    padding-top: 15px;
}
/*Market tabs*/
.tab-content{
    background-color: #fff;
    padding: 0;
}
.nav-tabs .nav-link {
    line-height: 40px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-link.active:focus{
    border-color: #061f42;
    background-color: #061f42;
    color: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding: 0 30px;
    margin-bottom: -1px;
}
.nav-tabs .nav-link:hover{
    background-color: #061f42;
    color: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding: 0 30px;
    margin-bottom: -1px;
    cursor: pointer;
}
.nav-tabs .nav-link {
    background-color: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    color: #333;
    padding: 0 30px;
    margin-bottom: 0;
}
.trade {
    margin-bottom: 20px;
}
.frame-title {
    background-color: #d2d2d2;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}
.background-blue {
    background-color: #08347b;
    color: #fff;
}


header .navbar-brand img {
            height: 65px;
            margin-left: 30px;
          }
		  
		  


@media (max-width: 767px) {
	.col-xl-2 {
		width: 16.66666667%;
	}
	.col-xl-3 {
		width: 25%;
	}
	.col-xl-4 {
		width: 33.33333333%;
	}
	.col-xl-5 {
		width: 41.66666667%;
	}
	.col-xl-6 {
		width: 50%;
	}
	.col-xl-7 {
		width: 58.33333333%;
	}
	.col-xl-8 {
		width: 66.66666667%;
	}
	.col-xl-9 {
		width: 75%;
	}
	.col-xl-10 {
		width: 83.33333333%;
	}
	#header .logo {
		height: 60px;
	}

	.single-page {
		width: 100%;
		margin: 0 auto;
		margin-top: 0;
	}
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-link.active:focus{
        padding: 0 3px;
    }
    .nav-tabs .nav-link:hover{
        padding: 0 3px;
    }
    .nav-tabs .nav-link {
        padding: 0 3px;
    }
}